/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

.footer{
  background-color: $base-ui-color--light;
  border-top: 5px solid #ddd;
  height: auto;
  @extend .cf;

  &__inner{
    min-height: 150px;
    padding: 2em 0;
  }

  &__nav-logo{
    display: block;
    margin: 0 auto;
    width: 50px;
    margin-bottom: 1em;
    height: auto;
  }
}


.copyright{
  font-style: normal;
  color: #aaa;
  display: block;
  text-align: center;
  font-size: 12px;
}
