/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.header{
  display: block;
  background-color: $brand-color;
  color: #fff;
  height: auto;
  @extend .cf;
  position: relative;

  &__inner{
    position: relative;
    z-index: 1;
    height: 550px;

    @include media-query(palm) {
      height: 400px;
    };

    &.not-front{
      height: 330px;

      @include media-query(palm) {
        height: 250px;
      };
    }
  }

  &__jumbotron{
    width: 850px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend .cf;
    text-align: center;
    padding-top: 30px;

    @include media-query(palm) {
      top: 55%;
      width: 100%;
      font-size: 12px;
      padding: 0px 10px;
    };
  }

  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent url('assets/images/header-bg.jpg') top center no-repeat;
    background-size: cover;
    opacity: .2;
  }
}

  .site-name{
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin: 0;
    margin-bottom: .3em;
    padding: 0;
    text-align: center;

    @include media-query(palm) {
      font-size: 2.6em;
    };
  }

  .site-desc{
    font-family: $body-font-family !important;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.68;
    margin: 0;
    margin-bottom: 2em;

    .not-front & {
      margin-bottom: 0;
    }

    @include media-query(palm) {
      font-size: 1.2em;
      font-weight: 400;
    };
  }




/**
 * Fork me
 */
.fork-me{
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  z-index: 100;

  @media (max-width: 700px) {
    display: none;
  }
}
