/*------------------------------------*\
    $ NAVIGATION
\*------------------------------------*/

.nav{
  list-style:none;
  margin-left:0;
  font-family: $base-font-family;
  @extend .cf;

  > li{

    &,
    > a{
      display:inline-block;
     *display:inline;
      zoom:1;
    }
  }
}


/**
 * `.nav--stacked` extends `.nav` and throws the list into vertical mode.
 */
.nav--stacked{
  > li{
    display:list-item;

    > a{
      display:block;
    }
  }
}



/**
 * `.nav--banner` extends `.nav` and centres the list.
 */
.nav--banner{
    text-align:center;
}


/**
 * Force a nav to occupy 100% of the available width of its parent.
 */
.nav--fit{
    display:table;
    width:100%;

    > li{
        display:table-cell;

        > a{
            display:block;
        }
    }
}





/**
 * MODIFIERS
 */

.navigation{
  text-transform: uppercase;
  background-color: $base-ui-color;
  position: relative;
  @extend .cf;

  &__inner{
    height: 60px;
    @include media-query(palm) {
      height: 50px;
    };
  }

  ul{
    margin: 0;

    @include media-query(palm) {
      padding: 0;
      position: absolute;
      width: 100%;
      top: 100%;
      z-index: 2;
      display: none;

      &.active{
        display: block;
      }
    };

    li{
      position: relative;
      line-height: 60px;

      @include media-query(palm) {
        line-height: 45px;
        display: block;
        background-color: $base-ui-color;
        border-top: 1px solid #aaa;
      };

      a{
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        color: #ccc;
        font-size: 15px;
        letter-spacing: 1px;
        padding: 0px 2.5em;
        transition: color .2s ease;

        &:hover{
          color: #fff;
        }

        @include media-query(palm) {
          font-size: 14px;
          padding: 0px 0px;
        };
      }
    }
  }
}


  .responsive-title{
    font-size: 1.1em;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    display: none;
    visibility: hidden;

    @include media-query(palm) {
      display: block;
      visibility: visible;
    };
  }

  .menu-btn{
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    text-indent: -9999px;
    width: 25px;
    height: 3px;
    @include vendor(appearance, none);
    border: none;
    text-decoration: none;
    display: none;
    visibility: hidden;

    &:before, &:after{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #fff;
      left: 0;
    }

    &:before{
      top: -200%;
    }

    &:after{
      top: 200%;
    }

    @include media-query(palm) {
      display: block;
      visibility: visible;
    };
  }
