
<div class="bg-light">
  <div class="container">
    <section class="no-pad">
      <div class="credit">
        <p>Papi is a free open source project for everyone who uses WordPress. The best payment is to <a href="http://twitter.com/frozzare">Tweet</a> and star the project on <a href="http://github.com/wp-papi/papi">GitHub</a> so others can find it and contribute.</p>
      </div>
    </section>
  </div>
</div>

<footer>
  <p>
    <a class="copyright" href="https://github.com/wp-papi/papi/blob/master/LICENSE">MIT © Fredrik Forsmo</a>
  </p>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
<%- js('js/main') %>
