<footer>
  <p>
    <a class="copyright" href="https://github.com/frozzare/frozzare.github.com/blob/master/LICENSE">MIT © Fredrik Forsmo</a>
  </p>
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
<%- js('js/main') %>
