<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo">
      <img src="https://wp-papi.github.io/assets/images/logo.svg
" alt="Papi">
    </a>
    <div class="hero-copy">
      <h1>PAGE TYPE API</h1>
      <p>Papi has a different approach on how to work with fields and page types in WordPress.</p>
    </div>
  </div>
</div>
