<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo">
      <img src="/images/logo.svg
" alt="<%- config.title %>">
    </a>
    <div class="hero-copy">
      <h1><%- config.title %></h1>
      <p><%- config.description %></p>
    </div>
  </div>
</div>
