<section>
  <div class="container">
    <h2>Introduction</h2>

    <p>Papi has a different approach on how to work with fields and page types in WordPress. The idea is coming from how Page Type Builder in EPiServer works and has been loved by the developers.</p>

    <p>So we thought, why not use the same approach in WordPress? Papi is running in production today and has been easy to work with when it came to adding new fields and creating different types of pages.</p>
  </div>
</section>

<section>
  <div class="container">
    <div class="column-six">
      <h2>Made for developers</h2>

      <p>Papi don't have a admin ui where you create your fields, it's done by code and that's how it should be.</p>
      <p>Only the field value is saved in the database, no reference of what kind of field or something like that. You can start with a new database and already have all fields setup.</p>
    </div>

    <div class="column-six image">
      <img src="/img/sample-page-type.png" alt="">
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="column-six image">
      <img src="http://wp-papi.github.io/images/papi/add-new-page-type-view.png" alt="">
    </div>

    <div class="column-six">
      <h2>Add new page</h2>

      <p>When creating a new page or and kind of post type you get a new step where you can select thoose page types that are bound to that post stype.</p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="column-six">
      <h2>With a UI that feels like WordPress</h2>

      <p>All fields that exists in Papi feels like the belongs in WordPress and it's easy to create your own fields.</p>
    </div>

    <div class="column-six image">
      <img src="http://wp-papi.github.io/images/papi/start-page-example-page.png" alt="">
    </div>
  </div>
</section>
