<section>
  <div class="container">
    <h2>Made for developers</h2>

    <div class="column-six">
      <p>Parturient molestie congue viverra aliqua ligula. Molestie at diam sapien parturient lectus. Nunc laboris sapien quam vehicula gravida. Placerat labore semper eleifend nisi deserunt. Tortor exercitation libero quis risus.</p>
    </div>

    <div class="column-six image">
      <img src="/img/sample-page-type.png" alt="">
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2>With a UI that feels like WordPress</h2>

    <div class="column-six image">
      <img src="http://wp-papi.github.io/images/papi/start-page-example-page.png" alt="">
    </div>

    <div class="column-six">
      <p>Parturient molestie congue viverra aliqua ligula. Molestie at diam sapien parturient lectus. Nunc laboris sapien quam vehicula gravida. Placerat labore semper eleifend nisi deserunt. Tortor exercitation libero quis risus.</p>
    </div>
  </div>
</section>
