<section>
  <div class="container">
    <h2>What does people say?</h2>

    <div class="column-six">
      <blockquote>
        <p>Adipiscing cupidatat suspendisse dui ridiculus gravida. Lacinia id conubia ullamco sed. Vulputate quis lectus malesuada vehicula. Laborum bibendum deserunt.</p>
        <small><img src="https://pbs.twimg.com/profile_images/765518559229378560/zhj6ABgd_400x400.jpg" width="45" height="45"> <a href="#" target="_blank" rel="noopener noreferrer">Johnie Hjelm</a></small>
      </blockquote>
    </div>

    <div class="column-six">
      <blockquote>
        <p>Adipiscing cupidatat suspendisse dui ridiculus gravida. Lacinia id conubia ullamco sed. Vulputate quis lectus malesuada vehicula. Laborum bibendum deserunt.</p>
        <small><img src="https://pbs.twimg.com/profile_images/765518559229378560/zhj6ABgd_400x400.jpg" width="45" height="45"> <a href="#" target="_blank" rel="noopener noreferrer">Johnie Hjelm</a></small>
      </blockquote>
    </div>

    <div class="column-six">
      <blockquote>
        <p>Adipiscing cupidatat suspendisse dui ridiculus gravida. Lacinia id conubia ullamco sed. Vulputate quis lectus malesuada vehicula. Laborum bibendum deserunt.</p>
        <small><img src="https://pbs.twimg.com/profile_images/765518559229378560/zhj6ABgd_400x400.jpg" width="45" height="45"> <a href="#" target="_blank" rel="noopener noreferrer">Johnie Hjelm</a></small>
      </blockquote>
    </div>

    <div class="column-six">
      <blockquote>
        <p>Adipiscing cupidatat suspendisse dui ridiculus gravida. Lacinia id conubia ullamco sed. Vulputate quis lectus malesuada vehicula. Laborum bibendum deserunt.</p>
        <small><img src="https://pbs.twimg.com/profile_images/765518559229378560/zhj6ABgd_400x400.jpg" width="45" height="45"> <a href="#" target="_blank" rel="noopener noreferrer">Johnie Hjelm</a></small>
      </blockquote>
    </div>
  </div>
</section>
