.container {
  @include outer-container;

  section {
    padding: 10px;

    &.center {
      text-align: center;
    }

    &.sidebar {
      @include span-columns(3);

      + section {
        @include span-columns(9);
      }
    }
  }
}

.bg {
  &-light {
    background: #f7f7f7;
    border-top: 1px solid #e1e5ea;
    border-bottom: 1px solid #e1e5ea;
  }

  &-white {
    background: #fff;
  }
}
