<footer class="footer" role="contentinfo">
  <div class="footer__inner container">
    <nav class="footer__nav">
      <ul class="nav nav--banner">
        <li><a href="#">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><img src="{{ "/assets/images/logo.svg" | prepend: site.baseurl }}" alt="{{ site.abbr }}-Logo" class="footer__nav-logo"></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <!-- /.nav nav--banner -->
    </nav>

    <cite class="copyright">2014 © {{ site.title }}</cite>

    <!-- /.footer__nav -->
  </div>
</footer>

