<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- JS -->
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load("jquery", "1");</script>

  <!-- Custom FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,900|Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
  <meta charset="utf-8">
</head>
