<header class="header" role="banner">
  <div class="header__inner">
    {% include main_navigation.html %}

    <div class="header__jumbotron">
      <h1 class="site-name">{{ site.title }}</h1>
      <h2 class="site-desc">Page Type Builder for WordPress allows you create page types using the existing page post type or using custom post types. For those how have work with Page Type Builder in EPiServer you will recognize themselves.</h2>
      <a href="#" class="btn btn--medium btn--quaternary btn--soft">Get started</a>
    </div>
  </div><!-- /.header__inner -->
</header><!-- /.header -->
