<nav class="navigation" role="navigation">
  <small class="responsive-title">{{ site.abbr }}</small>
  <a class="menu-btn" href="#">Menu</a>
  <div class="navigation__inner container">
    <ul class="nav nav--banner nav--main">
      <li><a href="/" data-page-id="home">Home</a></li>
      <li><a href="http://papi.readthedocs.org/en/latest/">Documentation</a></li>
      <li><a href="https://github.com/wp-papi/papi/blob/master/CONTRIBUTING.md" data-page-id="contribute">Contribute</a></li>
      <li><a href="https://github.com/wp-papi/papi/">GitHub</a></li>
    </ul>
    <!-- /.nav -->
  </div>
</nav>
