/*------------------------------------*\
    $CODE
\*------------------------------------*/

pre{
  display: block;
  background-color: $base-ui-color;
  color: #fff;
  padding: 2em;
  border-radius: 4px;
  overflow-x: scroll;
}

.code-selector{
  color: #D4233E;
}

.code-param{
  color: #E7C53A;
}

.code-value{
  color: #67BDE3;
}
