/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
/**
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class=alpha` to a `h3`; a double-stranded
 * heading hierarchy.
 */

h1,.alpha{
    @include font-size($h1-size);
}
h2,.beta{
    @include font-size($h2-size);
    margin-top: 2em;
}
h3,.gamma{
    @include font-size($h3-size);
    margin-top: 2em;
}
h4,.delta{
    @include font-size($h4-size);
    margin-top: 2em;
}
h5,.epsilon{
    @include font-size($h5-size);
    margin-top: 2em;
}
h6,.zeta{
    @include font-size($h6-size);
    margin-top: 2em;
}


/**
 * A series of classes for setting massive type; for use in heroes, mastheads,
 * promos, etc.
 */
.giga{
    @include font-size($giga-size);
}
.mega{
    @include font-size($mega-size);
}
.kilo{
    @include font-size($kilo-size);
}



/**
 * Section headers
 */
.section-title{
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  transform-style: preserve-3d;
  color: #fff;
  text-transform: uppercase;
  @extend .cf;
  padding: 2em 0;

  &:before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #ddd;
    top: 50%;
    transform: translateY(-50%);
  }

  span{
    display: inline-block;
    padding: 8px 15px;
    background-color: #181F27;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;

    &:before, &:after{
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      border-width: 20px;
      border-color: transparent;
      border-style: solid;
    }

    &:before{
      left: -39px;
      border-right-color: #181F27;
    }

    &:after{
      right: -39px;
      border-left-color: #181F27;
    }
  }
}
