/*------------------------------------*\
    $LINKS
\*------------------------------------*/

a{
  color: $brand-color;
  text-decoration: none;
  transition: color .2s ease;

  &:hover{
    color: $base-ui-color;
  }
}
