/*------------------------------------*\
    $LISTS
\*------------------------------------*/

ul, ol{
  font-size: 1.2em;
  font-family: $body-font-family;
  font-weight: 300;
  margin-bottom: 2em;
}
