/*------------------------------------*\
    $MAIN
\*------------------------------------*/

@if $global-border-box == true{
  *, *:before, *:after{
    box-sizing: border-box;
  }
}

html{
  font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
  overflow-y:scroll;
  min-height:100%;
  color: $base-ui-color;
}

.main{
  padding: 4em 10px;

  @include media-query(palm) {
    padding: 1em 10px;
  };
}


.section{
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #ddd;

  &:last-of-type{
    margin-bottom: 0;
    border-bottom: none;
  }
}


.credit{
  padding-top: 2em;
  text-align: center;
  font-size: 1.5em;

  @include media-query(palm) {
    font-size: 1em;
    padding-top: 0em;
  }
}
