/*------------------------------------*\
    $PARAGRAPHS
\*------------------------------------*/

.lead{
  font-size: 1.4em;
  margin-bottom: 2em;

  @include media-query(palm) {
    font-size: 1.1em;
  };
}

p{
  font-family: $body-font-family;
  font-size: 1.2em;
  line-height: 1.68;
  font-weight: 300;
  margin-bottom: 1.5em;

  @include media-query(palm) {
    font-size: 1em;
  };
}

strong{
  font-weight: 600;
}

em, i{
  font-style: italic;
}

blockquote{
  background-color: #f9f9f9;
  padding: 1em 2em;
  border-left: 5px solid $brand-color;

  @include media-query(palm) {
    margin: 0;
    padding: 5px 20px;
  };
}
