body > footer {
  border-top: 1px #ebebeb solid;
  min-height: 150px;
  padding: 60px 0;
  text-align: center;

  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 30px;
  }

  span {
    font-size: 12px;
    text-align: center;

    a {
      color: #2c3e50;
      text-decoration: none;
    }
  }
}
