.button {
  background: transparent;
  border: 2px solid #00AFC4;
  border-radius: 3px;
  display: inline-block;
  font-weight: 400;
  padding: 10px 15px;
  position: relative;
  text-align: center;

  &:hover {
    background: #00AFC4;
    color: #fff;
    text-decoration: none;
  }
}
