<div class="bg-white">
  <div class="container">
    <section>
      <article class="hr">
        <h2>Introduction</h2>
        <p>Papi has a different approach on how to work with fields and page types in WordPress. The idea is coming from how Page Type Builder in EPiServer works and has been loved by the developers.</p>

        <p>So we thought, why not use the same approach in WordPress? Papi is running in production today and has been easy to work with when it came to adding new fields. Papi doesn’t have any admin user interface where you must add all fields. Instead we use classes in PHP, where one class represents one page type and in your class you add all fields you need. It’s that easy!</p>
      </article>
      <article class="hr">
        <h2>WordPress and PHP versions</h2>
        <p>Papi 2 works with WordPress 4.0 and PHP 5.4 and above.</p>
      </article>
      <article class="hr">
        <h2>Installation</h2>
        <p>If you're using Composer to manage WordPress, add Papi to your project's dependencies. Run:
</p>
      </article>

      <article>
        <h2>What does the code look like?</h2>
        <p>This is a example of a page type that works with page post type. Papi has page post type as default, you can use page types with other post types, like post. Head over to the <a href="https://wp-papi.github.io/docs/">documentation</a> to read more.
</p>
        <script src="https://gist.github.com/frozzare/bb6112dac2a76531f05e.js"></script>

        <div class="gallery">
          <div class="item">
            <h3>Image example of the page type</h3>
            <img src="https://wp-papi.github.io/assets/images/papi/start-page-example-page.png" />
          </div>
          <div class="item">
            <h3>The add new page view</h3>
            <img src="https://wp-papi.github.io/assets/images/papi/add-new-page-type-view.png" />
          </div>
      </article>
    </section>
  </div>
</div>

<div class="bg-light">
  <div class="container">
    <section>
      <div class="credit">
        <p>Papi is a free open-source project for everyone who uses WordPress. The best payment is to <a href="http://twitter.com/frozzare">Tweet</a> and star the project on <a href="http://github.com/wp-papi/papi">GitHub</a> so others can find it and contribute.</p>
      </div>
    </section>
  </div>
</div>
