<div class="bg-white">
  <div class="container">
    <section>
      <article>
        <h2>Introduction</h2>
        <p>Papi has a different approach on how to work with fields and page types in WordPress. The idea is coming from how Page Type Builder in EPiServer works and has been loved by the developers.</p>

        <p>So we thought, why not use the same approach in WordPress? Papi is running in production today and has been easy to work with when it came to adding new fields. Papi doesn’t have any admin user interface where you must add all fields. Instead we use classes in PHP, where one class represents one page type and in your class you add all fields you need. It’s that easy!</p>
      </article>
      <article>
        <h2>What does the code look like?</h2>
        <p>This is a example of a page type that works with page post type. Papi has page post type as default, you can use page types with other post types, like post. Head over to the <a href="https://wp-papi.github.io/docs/">documentation</a> to read more.
</p>
        <script src="https://gist.github.com/frozzare/bb6112dac2a76531f05e.js"></script>

        <div class="gallery">
          <div class="item">
            <h3>The add new page view</h3>
            <img src="/images/papi/add-new-page-type-view.png" />
          </div>
          <div class="item">
            <h3>Image example of the page type</h3>
            <img src="/images/papi/start-page-example-page.png" />
          </div>
      </article>
    </section>
  </div>
</div>
