@import "lib/normalize.scss";
@import "../../../../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../../../../node_modules/bourbon-neat/app/assets/stylesheets/neat";

$mobile: new-breakpoint(max-width 500px 4);

body {
  background: #fff;
  color: #3a3a3a;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.7;
}

a {
  color: #00AFC4;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.guide-links {
  margin: 2em 0;
}

@import "framework/layout.scss";
@import "framework/header.scss";
@import "framework/highlight.scss";
@import "framework/form.scss";
@import "framework/table.scss";
@import "framework/quotes.scss";
@import "framework/footer.scss";

@import "partials/article.scss";
@import "partials/community.scss";
