<footer>
  <div class="container">
    <p>Papi is a free open source project for everyone who uses WordPress. The best payment is to <a href="http://twitter.com/frozzare">Tweet</a> and star the project on <a href="http://github.com/wp-papi/papi">GitHub</a> so others can find it and contribute.</p>
    <span><a class="copyright" href="https://github.com/wp-papi/papi/blob/master/LICENSE">Copyright <%= new Date().getFullYear() %> Fredrik Forsmo</a></span>
  </div>
</footer>
