<nav class="navbar" role="navigation">
  <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
    <li class="nav-link"><a href="/">Home</a></li>
    <li class="nav-link"><a href="/docs/">Documentation</a></li>
    <li class="nav-link"><a href="/community/">Community</a></li>
    <li class="nav-link"><a href="https://github.com/wp-papi/papi/blob/master/CONTRIBUTING.md">Contribute</a></li>
  </ul>
</nav>
