/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.btn{
  display:inline-block;
  vertical-align:middle;
  white-space:nowrap;
  font-family:inherit;
  font-size:100%;
  cursor:pointer;
  border:none;
  margin:0;
  padding-top:   0;
  padding-bottom:0;
  line-height:2.5;
  padding-right:1.5em;
  padding-left: 1.5em;
  position: relative;
  transform-style: preserve-3d;
}


.btn{
  &,
  &:hover{
    text-decoration:none;
  }

  &:active,
  &:focus{
    outline:none;
  }
}



/**
 *  MODIFIERS
 */

/**
 * Buttons types
 * ====
 * What the indexes of the button-types does
 * [1] class-name e.g. .btn--primary
 * [2] main background color
 * [3] text color
 * [4] hover background color
 * [5] text color when hover
 */
$button-types:
  (primary  $brand-color #fff $base-ui-color #fff)
  (secondary $base-ui-color #fff $brand-color #fff)
  (tertiary #fff $base-ui-color $base-ui-color #fff)
  (quaternary $base-ui-color #fff #fff $base-ui-color);

@each $btn-type in $button-types {
  $type: nth($btn-type, 1);
  $bgColour: nth($btn-type, 2);
  $colour: nth($btn-type, 3);
  $bgColour-hover: nth($btn-type, 4);
  $colour-hover: nth($btn-type, 5);

  .btn--#{$type} {
    background-color: $bgColour;
    color: $colour;
    transition: background-color .2s ease;

    &:hover{
      background-color: $bgColour-hover;
      color: $colour-hover;
    }
  }
}




/**
 * SIZES
 */
.btn--small{
  font-size: 1em;
}

.btn--medium{
  font-size: 1.5em;
}

.btn--large{
  font-size: 2em;
}



/**
 * More cushin for the pushin
 */
.btn--soft{
  border-radius: 4px;
}

.btn--round{
  border-radius: 10em;
}
