@import "lib/normalize.scss";
@import "../../../../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../../../../node_modules/bourbon-neat/app/assets/stylesheets/neat";

$large-screen: em(860) !default;
$medium-screen: em(640) !default;

body {
  background: #f7f7f7;
}

@import "framework/footer";
@import "framework/hero";
@import "framework/highlight";
@import "framework/nav";
@import "framework/sections";
@import "framework/sidebar";
@import "framework/table";
@import "framework/typography";
@import "framework/utils";

@import "partials/article";
@import "partials/credit";
@import "partials/community";
@import "partials/docs";
