@import "lib/normalize.scss";
@import "../../../../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../../../../node_modules/bourbon-neat/app/assets/stylesheets/neat";

@import "framework/nav";
@import "framework/hero";

body {
}


.grid {
  display: block;
  padding-left: 6%;
  padding-right: 6%;
  max-width: none;
}

.hero {
  background: #3eb991;
  color: white;
}

